# List Operations

In [25]:
list1 = ["pune", "Ahmednagar", 100, 23.6, "engineer"]
list3 = [21, 3, 65]
print(list1)

['pune', 'Ahmednagar', 100, 23.6, 'engineer']

In [26]:
#Using "append" function . . .

list1.append("pune")
print(list1)

['pune', 'Ahmednagar', 100, 23.6, 'engineer', 'pune']

In [27]:
#Using "copy" function . . .

list2=list1.copy()
print("listt  :  {}".format(list1))
print("copy_list : {}".format(list2))

listt  :  ['pune', 'Ahmednagar', 100, 23.6, 'engineer', 'pune']
copy_list : ['pune', 'Ahmednagar', 100, 23.6, 'engineer', 'pune']

In [28]:
#counting number of occurances of pune

list_count=list1.count("pune")
print("Number of elements in listt is  :  {}".format(list_count))

Number of elements in listt is  :  2

In [29]:
#Using "extend" function . . .

list1.extend(list3)
print(list1)

['pune', 'Ahmednagar', 100, 23.6, 'engineer', 'pune', 21, 3, 65]

In [31]:
#Using "index" function . . .

print("{}".format(list1.index("Ahmednagar")))
print("{}".format(list1.index("pune")))
print("{}".format(list1.index(3)))
print("{}".format(list1.index(23.6)))

1
0
7
3

In [32]:
#Using "insert" function . . .

list3.insert(3,"404 error")
print(list3)

[21, 3, 65, '404 error']

In [33]:
#Using "pop" function . . .

print("list3 Before pop  :  {}".format(list3))
list3.pop()
print("list3 After pop  :  {}".format(list3))

list3 Before pop  :  [21, 3, 65, '404 error']
list3 After pop  :  [21, 3, 65]

In [34]:
#Using "remove" function . . .

print("list1 Before removing  :  {}".format(list1))
list1.remove(23.6)
print("list1 After removing 23.6  :  {}".format(list1))

list1 Before removing  :  ['pune', 'Ahmednagar', 100, 23.6, 'engineer', 'pune', 21, 3, 65]
list1 After removing 23.6  :  ['pune', 'Ahmednagar', 100, 'engineer', 'pune', 21, 3, 65]

In [35]:
#Using "reverse" function . . .

print("list1 Before reversal  :  {}".format(list1))
list1.reverse()
print("list1 After reversal  :  {}".format(list1))

list1 Before reversal  :  ['pune', 'Ahmednagar', 100, 'engineer', 'pune', 21, 3, 65]
list1 After reversal  :  [65, 3, 21, 'pune', 'engineer', 100, 'Ahmednagar', 'pune']

In [36]:
#Using "sort" function . . .

print("list3 Before pop  :  {}".format(list3))
list3.sort()
print("list3 After pop  :  {}".format(list3))

list3 Before pop  :  [21, 3, 65]
list3 After pop  :  [3, 21, 65]

In [41]:
#Using "clear" function . . .

list1.clear()
print(list1)

[]

# Set Operations

In [97]:
tup1={"hi", "hello", "ram ram"}
tup2={"raabta",2017, 3.14}

In [98]:
#Using "add" function . . .

tup1.add("namste")
tup1

{'hello', 'hi', 'namste', 'ram ram'}

In [99]:
#Using "copy" function . . .

tup3=tup1.copy()
tup3

{'hello', 'hi', 'namste', 'ram ram'}

In [100]:
#Using "difference" function . . .

tup1.add("hii2")

tup1.difference(tup3)

{'hii2'}

In [101]:
#Using "difference_update" function . . .

tup1.difference_update(tup3)
print (tup1)

""" difference between difference and defference_update is that difference 
returns wanted values while difference update removes unwanted values from main set
"""

{'hii2'}

' difference between difference and defference_update is that difference \nreturns wanted values while difference update removes unwanted values from main set\n'

In [102]:
#Using "discard" function . . .

tup1={"hi", "hello", "ram ram"}
tup1.discard("hi")
tup1

{'hello', 'ram ram'}

In [103]:
#Using "intersection" function . . .

tup1={1,2,3}
tup2={3,4,5,6}

tup1.intersection(tup2)

{3}

In [116]:
#Using "intersection_update" function . . .

tup1={1,2,3}
tup2={3,4,5,6}

tup1.intersection_update(tup2)

print(tup1)

{3}

In [117]:
#Using "isdisjoint" function . . .

tup1={1,2,3}

tup1.isdisjoint(tup2)

False

In [118]:
#Using "issubset" function . . .

tup1.issubset(tup2)

False

In [119]:
#Using "issuperset" function . . .

tup1.issuperset(tup2)

False

In [120]:
#Using "pop" function . . .

popped_element=tup1.pop()
print(popped_element)

1

In [121]:
#Using "remove" function . . .

tup1={1,2,3}

tup1.remove(2)
tup1

{1, 3}

In [123]:
#Using "union" function . . .

tup1.union(tup2)

{1, 3, 4, 5, 6}

In [ ]:
#Using "clear" function . . .

tup1.clear()
tup1